

nav {

    img {
        height: 40px;
    }
   
    a {
        text-decoration: none;
    }

    #panierFull {
        color: $secondary;
    }
}

#formulaire {
    #submitBtn:disabled {
        background-color: #ff93bd61;
        border-color: #ff93bd61;
        color: #7d616ce0;
    }
}



.collapse:not(.show) {
    display: block !important; 
         
}

